<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular & Bootstrap</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/users">Users</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/posts">Posts</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/albums">Albums</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/comments">Comments</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/todos">Todos</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/jitsingh89" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/jitsingh1989" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@jitsingh89" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>
